# Scala / sbt
target/
.bsp/
.bloop
.metals/
metals.log
metals.lock.db
metals.mv.db
.scala-build/

# CDK 
cdk/*.js
cdk/*.d.ts
!cdk/jest.config.js
!cdk/jest.setup.js
cdk/.cdk.staging
cdk/cdk.out
cdk/dist

# TypeScript
**/dist/
**.zip

# Dependencies
node_modules/

# Editor / IDE
.idea
.vscode/

# OS noise
.DS_Store
*.log