name: Build

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
      - 'capi-event-purger/**'
      - .nvmrc
  workflow_dispatch:

# allow queued workflows to interrupt previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: write # required since guardian/actions-riff-raff@v3
    steps:
      - uses: actions/checkout@v5

      - name: Setup JDK and sbt
        uses: guardian/setup-scala@v1

      - uses: guardian/actions-read-private-repos@v1.0.0
        with:
          private-ssh-keys: ${{ secrets.AWS_ACCOUNT_SETUP_DEPLOY_KEY }}

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          cache: 'yarn'
          cache-dependency-path: 'cdk/yarn.lock'
          node-version-file: ".nvmrc"

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.AWS_ECR_ROLE }}

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2
        with:
          mask-password: 'true'

      - name: Clean, compile and test
        working-directory: facia-event-purger
        run: |
            sbt clean compile test assembly  

      - name: Build and publish docker image for content
        working-directory: facia-event-purger
        run: |
          docker build -f mobile-fastly-cache-purger.Dockerfile --platform linux/amd64 -t mobile-fastly-cache-purger:dev .
          docker tag mobile-fastly-cache-purger:dev ${LAMBDA_REPOSITORY_URL}:${BUILD_NUMBER}
          docker push ${LAMBDA_REPOSITORY_URL}:${BUILD_NUMBER}
        env:
          LAMBDA_REPOSITORY_URL: ${{ secrets.LAMBDA_REPOSITORY_URL }}
          BUILD_NUMBER: ${{ github.run_number }}

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}

      - name: CDK synth
        working-directory: cdk
        run: |
            yarn install
            yarn test
            yarn synth

      - name: Upload to riff-raff
        uses: guardian/actions-riff-raff@v4
        with:
          projectName: mobile::mobile-fastly-cache-purger
          roleArn: ${{ secrets.GU_RIFF_RAFF_ROLE_ARN }}
          githubToken: ${{ secrets.GITHUB_TOKEN }}
          configPath: cdk/cdk.out/riff-raff.yaml
          contentDirectories: |
            mobile-fastly-cache-purger:
              - facia-event-purger/target/scala-2.13/mobile-fastly-cache-purger.jar
            cdk.out:
              - cdk/cdk.out


